.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 2em 0;
  font-family: 'Arial', sans-serif;
}

.footer{
  background-color: white;
  color: $primary;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
}

.search-element {
  width: 90%;
  max-width: 300px;
  padding: 10px 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #45a049;
}

.spinner img {
  width: 100px;
}